body{
    margin:0px;
    padding:0px;
    background-image: linear-gradient(to left,#ff0000,#ffdddd);
    font-family: arial;
}

h1, h2{
    text-align: center;
}


h2{
    color: black;
}

#info p{
    padding-top: 5%; 
    font-size: 25px;
    line-height: 1.5;
}

img{
    width: 100%;
    border-radius: 5%;
}

#menuIzq{
    position:fixed;
    padding-top:4%;
    padding-right :2%;
    padding-left :2%;
    padding-bottom :100%;
    float:left;
    width:15%;
    text-align: center;
    color:white;
    border-right: 1px #c92c2c solid;  
    background-color: #ff0000;
}

.contactos div > img{
    width: 30%;
    margin-top: 10%;
    opacity: 0.5;
}

.contactos div > img:hover{
    transform: scale(1.05,1.05);
    opacity: 1;
    transition: transform 0.2s ;
}

#info{
    float: right;
    width: 81%;
}

.items, .miInfo{
    padding-left: 20%;
    padding-right: 20%;
    overflow: hidden;
    text-align: center; 
    background-image: linear-gradient(to left, #ffdddd, white); 
}

.botones div{
    border-top: 1px white solid;
    padding:2%;
}

.botones div:hover{
    background-color: white;
    color:#ff0000;
}

.item{
    width: 40%;
    margin: 2%;
    padding: 2%;
    border-radius: 15px;
    float:left;
    text-align: center;
    opacity: 0.5;
    border: 1px black solid;
}
.item > div{
    border-top: 1px white solid;
    margin-top:2%;
}

.item:hover{
    background-color: #e52929;
    transform: scale(1.05,1.05);
    opacity: 1;
    color:white;
    border: 1px white solid;
    transition: transform 0.2s ;
}